<div class="blog-header">
  <div class="container">
    <center><h1 class="blog-title">My Blog</h1></center>
    <span><%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <hr>
    <center>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
    </center>
    </div>
</div>