<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

	
<hr>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-243094656349/Gazi+Tarqiue+Mahmud_4yrs.jpg", width: 200, height: 250, alt: "profile_image", class: "profile-img" %>
	</div>
	<div class="col-md-8">
		<p>With over 3 years of develpment and testing experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user</p>
	
		<p>For this reason I devided to utilize a completely different development pattern that focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily update to ensure that the project is aligining properly with the client's goals. The end product is right product, delivered on time, and on budget.</p>
	
	<p>
		<button 
			class="btn btn-primary" 
			type="button" 
			data-toggle="collapse" 
			data-target="#multiCollapseExample2" 
			aria-expanded="false"
			aria-controls="multiCollapseExample2">
			Job History
		</button>	

		<button 
			class="btn btn-primary" 
			type="button" 
			data-toggle="collapse" 
			data-target="#education" 
			aria-expanded="false" 
			aria-controls="education">
			Education
		</button>
	</p>
	
		
		<div class="collapse multi-collapse" id="multiCollapseExample2">
			<div class="card card-block">
				<p><h4>Coudly Infotech</h4></p>
				<p><b>Position:</b> Software Engineer</p>
				<p><b>Address:</b> House # 342 (3rd Floor), Road # 25, DOHS, Mohakhali, Dhaka 1206, Dhaka. </p>
				<p><b>Duration:</b> June 2012 - June 2014 </p>
			</div>
			<div class="card card-block">
				<p><h4>NKSoft</h4></p><p>
				<b>Position:</b> Software Engineer</p>	
				<p><b>Address:</b> Road#13, Shekhertek, Mohammadpur, Dhaka.</p>
				<p><b>Duration:</b> August 2014 - November 2015 </p>
			</div>
			<div class="card card-block">
				<p><h4>BSecure</h4></p>
				<p><b>Position:</b> Software Engineer</p>
				<p><b>Address:</b> Rupayan Prime, 1205, Green Road, Dhaka 1205, Bangladesh </p>
				<p><b>Duration:</b> December 2015 - January 20178 </p>
			</div>
		</div>


		<div class="collapse multi-collapse" id="education">
			<div class="card card-block">
				<p><h4>BSc. in Computer Science </h4></p>
				<h6>North South University</h6>
				<p>Passing Year: 2015</p>
				
			</div>
			<div class="card card-block">
				<p><h4>HSC</h4></p>
				<h6>Tejgaon College</h6>
				<p>Passing Year: 2004</p>
			</div>
			<div class="card card-block">
				<p><h4>SSC</h4></p>
				<h6>Motijheel Model High School</h6>
				<p>Passing Year: 2002 </p>
			</div>
		</div>

	</div>
</div>

</div>
</div>