<h1>Would you like to work together?</h1>
<hr>
<div class="row">
	<div class="col-md-6">
		<h3>
			Office Address
		</h3>
		<p>Rupayan Prime, Road#07, House#01, 7th Floor, Dhanmondi, Dhaka</p>
		<h3>Phone</h3>
		<p><%= number_to_phone "(+880)1914221142"%></p>
		<h3>Email</h3>
		<p><a href="mailto:mahmud.tarique@gmail.com?subject=Contact Me" "email me">Email me</a></p>
	</div>	
	<div class="col-md-4">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.05386530953!2d90.38270291442721!3d23.74545849488318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8ba1a809179%3A0x29144ff6d1cfc3b9!2sRupayan+Prime%2C+Green+Rd%2C+Dhaka+1205!5e0!3m2!1sen!2sbd!4v1498668935787" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>	
</div>
